[bumpversion]
current_version = 0.4.2
commit = True
tag = True
parse = (?P<major>\d+)\.(?P<minor>\d+)\.(?P<patch>\d+)(\.(?P<release>\w+))?
serialize = 
	{major}.{minor}.{patch}.{release}
	{major}.{minor}.{patch}

[bumpversion:part:release]
first_value = dev
optional_value = dev2
values = 
	dev
	dev2

[bumpversion:file:recipe/meta.yaml]

[bumpversion:file:multiply_prior_engine/version.py]

